<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

	<display-name>Diario</display-name>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <!-- SSL CONFIG -->
	<!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>HTTPSOnly</web-resource-name>-->
            <!--<url-pattern>/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<user-data-constraint>-->
            <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->
    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>HTTPSOrHTTP</web-resource-name>-->
            <!--<url-pattern>*.ico</url-pattern>-->
            <!--<url-pattern>/images/*</url-pattern>-->
            <!--<url-pattern>/css/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<user-data-constraint>-->
            <!--<transport-guarantee>NONE</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->
</web-app>
